body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 90%;
    height: 95%;
    background: #a1e9ffbd;
}

.login-body {
    background: none;
    background-image: url("images/store.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: yellowgreen;
    font-family: 'comic sans MS';
}

h1 {
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container div {
    display: grid;
    border: 1px #cccccc solid;
    padding: 40px 25px;
    border-radius: 10px;
    flex-basis: 35%;
    min-height: 50px;
    margin: 3px;
    background: #000000f1;
    color: #ffffff;
    top: 40%;
    left: 40%;
    -ms-flex-align: center;
}

.main-header nav {
    margin: 0;
    background-color: #339fdd;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 120%;
}

.main-header nav ul {
    float: right;
    margin: 0 auto;
}

.main-header nav ul li {
    display: inline;
}

.main-header nav a:link,
.main-header nav a:visited {
    color: #ffffff;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.main-header nav a:hover {
    background-color: #23aeff;
    text-shadow: none;
    color: #000000;
}

.main-header nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #3baceef5;
}

.main-footer p {
    text-align: center;
    width: 100%;
    margin: 1% auto;
    color: #ffffff;
}

.flex-login h1 {
    margin: 0;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-size: 150%;
}

.flex-login p {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 400;
}

.flex-login input {
    width: 100%;
    margin-bottom: 10px;
    outline: none;
}

.flex-login input[type="password"],
input[type="email"],
input[type="text"] {
    border: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    height: 30px;
    color: #ffffff;
    font-size: 14px;
}

.flex-login input[type="submit"] {
    border: none;
    outline: none;
    height: 35px;
    background: #fd3c3c;
    color: #ffffff;
    font-size: 18px;
    border-radius: 12px;
}

.flex-login input[type="submit"]:hover {
    cursor: pointer;
    background: #07c5ff;
    color: #000;
}

.flex-login a {
    line-height: 15px;
    color: yellow;
}

.flex-login a:hover {
    color: #07c5ff;
}

table, th, td{
    border: 2px solid white;
    border-collapse: collapse;
    padding: 15px;
    margin: 5px; 
}

tr:hover{
    background: #cccccc;
    color: #000;
}

.stock-table input[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    background: #3cb6fd;
    font-weight: bold;
    color: #000000;
    font-size: 15px;
    border-radius: 8px;
}
.stock-table input[type="text"],
input[type="number"],
input[type="date"] {
    outline: none;
    border: none;
    width: 100%;
    border-bottom: 1px solid #d0e1fa;
    background: transparent;
    height: 30px;
    color: #4eccfd;
    font-size: 15px;
}

@media only screen and (min-width: 150px) and (max-width: 600px) {
    .body {
        width: 90%;
        margin: 10px auto;
        font-size: 90%;
    }
    .login-body {
        background: #a1e9ffbd;
        background-image: none;
    }

    .main-header nav {
        height: 160px;
    }
    .main-header nav ul {
        float: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
    }
    .main-header nav a:link,
    .main-header nav a:visited {
        height: 20px;
        padding: 10px 25px;
        display: block;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
    }
    .main-footer {
        display: none;
    }
    
    table, th, td{
        border: 1px solid white;
        border-collapse: collapse;
        padding: 0;
        margin: 0; 
    }
}