<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Manager | </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
</head>
<body>
    <div id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li id="logout"><a href="/index.html">Logout</a></li>
            <li><a href="index.html">Inventory</a></li>
            <li><a href="users.html">Users</a></li>
            <li><a href="profile.html">Profile</a></li>
        </ul>
        

    </div>
    <div class="flex-container">
        <div class="stock-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product name</th>
                        <th>Category</th>
                        <th>Available Stock</th>
                        <th>Specifications</th>
                        <th>Unit Price</th>
                        <th>View</th>
                        <th>Delete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody id="getProducts">
                    
                </tbody>                
            </table>
            <form action="add-stock.html">
                <input type="submit" id="addItem" value="Add product">
            </form>
            
        </div>
        
    </div>
    
    <footer class="main-footer">
        <p>The Store Management App &copy;Tomusange Henry</p>
    </footer>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/users.js"></script>
</body>
</html>