<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Manager | </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
</head>
<body>
    <div id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li id="logout"><a href="/index.html">Logout</a></li>
            <li><a href="index.html">Inventory</a></li>
            <li><a href="users.html">Users</a></li>
            <li><a href="profile.html">Profile</a></li>
        </ul>
        

    </div>
    
	<h1>Welcome! What do you want to checkout?</h1> 
    <div class="flex-container">
        <div>
            <h2>User Profile</h2>
            <div id="user-profile">
                <img id="profile-pic" src="/static/images/profile.png" alt="Profile Picture">

            </div>
        </div>
        <div id="access-buttons">
            <h2>Links</h2>
            <div><form action="admin/index.html">
                <input type="button" value="Products" class="link-button">
            </form></div>
            <div><form action="add-stock.html">
                <input type="button" value="Sales" class="link-button">
            </form></div>
            <div><form action="admin/users.html">
                <input type="button" value="Users" class="link-button">
            </form></div>
            <div><form action="admin/profile.html">
                <input type="button" value="Profile" class="link-button">
            </form></div>
        </div>

    </div>
    <footer class="main-footer">
        <p>The Store Management App &copy;Tomusange Henry</p>
    </footer>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/profile.js"></script>
</body>
</html>