<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Store Manager | </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />
</head>
<body>
    <div id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul>
            <li id="logout"><a href="#">Logout</a></li>
            <li><a href="#" onclick="redirectAll('/templates/products.html')">Products</a></li>
            <li><a href="#" onclick="redirectAdmin('/templates/add-category.html')">Category</a></li>
            <li><a href="#" onclick="redirectAdmin('/templates/users.html')">Users</a></li>
            <li><a href="#" onclick="redirectAll('/templates/index.html')">Profile</a></li>
            <li><a href="#" onclick="redirectAdmin('/templates/view-sales.html')">Sales</a></li>
            <li><a href="#" onclick="redirectUser('/templates/add-sale.html')">Make Sale</a></li>
        </ul>
        

    </div>
    
	<h1>Current Stock and balance</h1> 
    <div class="flex-container">
        <div class="stock-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Product name</th>
                        <th>Category</th>
                        <th>Available Stock</th>
                        <th>Specifications</th>
                        <th>Unit Price</th>
                        <th>Delete</th>
                        <th>Edit</th>
                        <th>Add to Category</th>
                    </tr>
                </thead>
                <tbody id="getProducts">
                    
                </tbody>                
            </table>
            <span id="message"></span><br>
            <input type="submit" value="Add Product" onclick="redirectAdmin('/templates/add-stock.html')">
            
        </div>
    </div>
    <footer class="main-footer">
        <p>The Store Management App &copy;Tomusange Henry</p>
    </footer>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/products.js"></script>
</body>
</html>